body {
	font-family: 'Spartan', sans-serif;	
	font-size: 15px;
	padding: 50px;
	min-height: 100vh;
	overflow: hidden;
}
section {
	padding: 30px;
}

/* intro section */
h1 {
	font-weight: 700;
	font-size: 3rem;
}
#intro {
	color: hsl(300, 43%, 22%);
	font-size: 1rem;
}

/* Rating section */
#rating {
	color: hsl(300, 43%, 22%);
	font-weight: 500;
}
#rating img {
	margin: 5px;
}
#rating .seperate {
	margin-right: 15px;
}
#rating .stars {
	background-color: hsl(300, 24%, 96%); 
	width: 75%;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

/* Cards Section */
.cards {
	background-color: hsl(300, 43%, 22%);
	margin: 2px;
}