/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Element selectors */
body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
  padding: 6rem 1.5rem;
}
div {
  background-color: #fff;
  margin: 1.5rem auto;
  height: 40vh;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 5px rgba(207, 206, 206, 0.637);
}
div p {
  font-weight: 200;
}
div img {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

/* Header Section */
header {
  text-align: center;
  padding: 2rem 0;
}
#headingLight, header p {
  font-weight: 200;
} 

/* Cards */
.superVisor {
  border-top: 5px solid hsl(180, 62%, 55%);
}
.teamBuilder {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.karma {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.calculator {
  border-top: 5px solid hsl(212, 86%, 64%);
}

/* For small screen devices */
@media (max-width: 375px) {
  body {
    padding: 2rem 0.5rem;
  }
  header p {
    padding: 0 2rem;
  }
  div {
    height: 25vh;
  }
}

/* For large screen devices */
@media (min-width: 976px) {
  body {
    padding: 1rem 1.5rem;
  }
  div {
    margin: 15px;
    height: 40vh;
  }
  .cards {
    display: flex;
  }
  .superVisor {
    width: 33%;
    align-self: center;
  }
  .calculator {
    width: 33%;
    align-self: center;
  }
  header p {
    padding: 0 25%;
  }
  .cardsColumn {
    width: 33%;
  }
}